@media (max-width: 1204px) {
    .card {
        width: 100% !important;
    }

    .card-img-top {
        height: 400px;
    }
}

@media (max-width: 523px) {
    .profile-container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .profile-image {
        margin: auto;
        margin-bottom: 1rem;
    }

    .profile-table {
        padding-bottom: 5px !important;
    }
}


@media (max-width: 768px) {
    .konten {
        flex-direction: row;
        align-items: center;
    }

    .konten .deskripsi-konten {

        margin-bottom: 20px;
    }

    .konten .image {
        margin-top: 20px;
    }

    .konten .deskripsi-konten .title {
        font-size: 3rem !important;
    }

    .konten .deskripsi-konten p {
        font-size: 1rem !important;
    }

    .btn-custom {
        font-size: 1rem !important;
        padding: 0.6rem 1.7rem !important;
    }
}

@media (max-width: 767px) {
    .login-container {
        flex-direction: column;
    }

    .login-form-container {
        padding: 20px;
    }

    .login-title {
        font-size: 2.6rem;
    }

    .login-button {
        padding: 10px 20px;
        font-size: 16px;
    }

    .login-background {
        display: none;
    }

    .card {
        width: 100% !important;
    }

    .card-img-top {
        height: 400px;
    }

    .image-detail {
        width: 50rem !important;
        height: 40rem !important;
    }
}

@media only screen and (max-width: 600px) {
    .news .container {
        align-items: center;
        flex-direction: column;
    }

    .card-news {
        width: 90%;
        margin: 0.5rem 0;
    }

    .badge {
        top: 180px !important;
    }
}

@media (max-width: 585px) {
    .image img {
        display: none;
    }

    .home {
        height: 520px !important;
    }

    .konten {
        width: 100%;
        margin: 0 auto;
        padding: 5px 25px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .konten .deskripsi-konten .title {
        font-size: 3.5rem !important;
    }

    .konten .deskripsi-konten p {
        font-size: 1rem !important;
    }

    .btn-custom {
        font-size: 1rem !important;
        padding: 0.6rem 1.7rem !important;
    }
}

@media (min-width: 48em) {
    .headers {
        padding: 0 1rem;
    }

    .header__content__nav {
        color: #000;
        transform: none;
        flex-direction: row;
        background: transparent;
        width: auto;
        height: 100%;
        position: static;
    }

    .header__content__nav ul {
        flex-direction: row;
        align-items: center;
        margin-bottom: 0;
        margin-right: calc(0.5rem + 16px);
    }

    .header__content__nav ul li:not(:last-child) {
        margin-bottom: 0;
        margin-right: 16px;
    }

    .header__content__toggle {
        display: none;
    }
}